.tokenCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20rem;
  font-size: 0.9rem;

  border: 7px double #8b8fae;
  border-radius: 5px;
  padding: 1rem;

  &:hover,
  &:focus {
    outline: none;

    border-color: var(--greenHover);
    box-shadow: 0 0 10px var(--greenHover);

    .projectTitle {
      color: var(--greenHover);
    }

    .joinButton {
      color: var(--greenHover);
      text-shadow: 0 0 3px #84f88f;
      outline: none;

      &::before {
        position: absolute;
        content: "►";
        left: -30px;
        animation: bounceLeft 0.5s infinite alternate;
      }
    }
  }

  ul {
    padding-inline-start: 1rem;
    margin: 0;
  }
}

.tokenCardInformationContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: justify;
}

.projectTitle {
  font-family: var(--titleFont);
  color: var(--green);
  font-size: 1.1rem;
}

.joinButton {
  position: relative;
  color: #1f8029;
  font-family: var(--titleFont);
  font-size: 1.3rem;
}

@keyframes bounceLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
