.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.center {
  text-align: center;
}

.page-title {
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 4rem;
}
