.communityContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  gap: 2rem;
}

.socialIconsContainer {
  display: flex;
  gap: 2.5rem;
  a:hover,
  a:focus {
    transform: scale(1.3);
    outline: none;
  }
}

.ambassadorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
