.communityContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin: 0 1rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p {
    margin: 0;
  }
}

.socialIconsContainer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  a:hover,
  a:focus {
    transform: scale(1.3);
    outline: none;
  }
}

.partnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  p {
    margin: 0;
  }
}
