.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.titleIllustration {
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.optionsContainer {
  margin-bottom: 1rem;
}

.menuTitle {
  margin: 0;
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 1.4rem;
  min-width: 210px;
}

.menuOptions {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.selectButton {
  text-align: center;
}

.description {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

@media screen and (min-width: 570px) {
  .contentSection {
    gap: 1rem;
  }

  .menuContainer {
    flex-direction: row;
  }

  .optionsContainer {
    margin-bottom: 0;
  }
}
