.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.titleIllustration {
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.menuTitle {
  margin: 0;
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 1.4rem;
}

.menuOptions {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.description {
  margin: 0 auto;
  text-align: center;
  max-width: 650px;
}
