.button {
  background-color: transparent;
  border: none;
  color: #2fc53e;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #6afc79;
    text-shadow: 0 0 3px #84f88f;

    &::before {
      content: "►";
      margin-right: 10px;
    }
  }
}
