.popUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.8);
}

.popUpContent {
  position: relative;
  margin: 1rem;
  padding: 1rem 1rem;
  padding-top: 4rem;
  max-width: 90vw;
  max-height: 80vh;
  border: 2px solid var(--green);
  background-color: rgba(0, 0, 0);
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

.closeButton {
  position: absolute;
  top: 2vh;
  right: 2vh;
  background-color: #5e5e5e3b;
  height: 40px;
  width: 40px;
  border: 1px solid var(--green);
  color: var(--green);
  font-size: 40px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  transition: 0.3s;
}

.closeButton:hover,
.closeButton:focus {
  background-color: #f1f1f13b;
  color: var(--greenHover);
  text-shadow: 0 0 5px var(--greenHover);
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

@media (min-width: 600px) {
  .popUpContent {
    padding: 3.5rem;
  }
}

@media (orientation: landscape) and (max-height: 450px) {
  .popUpContainer {
    align-items: start;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
