.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
}

.title {
  margin: 0;
  font-size: 6rem;
}

.button {
  color: #2fc53e;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.button:hover {
  color: #6afc79;
  text-shadow: 0 0 4px #84f88f;
  transition: all 0.3s;
}

.button::before {
  content: "►";
  margin-right: 10px;
}
  
.button::after {
  content: "◄";
  margin-left: 10px;
}

.imgContainer {
  border: 2px solid #00f;
  margin-top: 1rem;
  width: 400px;
  height: 200px;
}