.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.titleIllustration {
  width: 100%;
  max-width: 690px;
  margin-top: 5vh;
}

.spotIllustration {
  width: 70%;
  min-width: 250px;
  max-width: 40vh;
}

.brickCeiling {
  position: relative;
  background-image: url("../../assets/bg_home_footer_walls.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom center;
  height: 13vh;
  min-height: 100px;
  width: 100%;
}

.statusBar {
  position: absolute;
  bottom: -25%;
  width: 100%;
  height: 15vw;
  max-height: 90px;
  background-image: url("../../assets/bg_status_bar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.brickFloor {
  background-image: url("../../assets/bg_home_footer_walls.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom center;
  height: 13vh;
  min-height: 100px;
  width: 100%;
  margin-top: -1vh;
  transform: scale(-1);
}

@media screen and (min-height: 700px) {
  .mainContainer {
    gap: 4vh;
  }

  .brickFloor {
    margin-top: -4vh;
  }
}
