.button {
  background-color: transparent;
  border: none;
  color: #2fc53e;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:focus {
    color: #6afc79;
    text-shadow: 0 0 3px #84f88f;
    transition: all 0.2s;
  }

  &::before,
  &::before {
    content: "►";
    margin-right: 10px;
  }

  &::after,
  &::after {
    content: "◄";
    margin-left: 10px;
  }
}
