.button {
  background-color: transparent;
  border: none;
  font-family: var(--titleFont);
  font-size: 1.3rem;
  color: var(--green);
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:focus {
    color: var(--greenHover);
    text-shadow: 0 0 3px #84f88f;
    transition: all 0.2s;
  }

  &::before,
  &::before {
    content: "►";
    margin-right: 10px;
  }

  &::after,
  &::after {
    content: "◄";
    margin-left: 10px;
  }
}
