.border {
  margin: 0.2rem;
  border: 7px double #8b8fae;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: var(--greenHover);
    box-shadow: 0 0 5px var(--greenHover);
    cursor: pointer;
  }
}

.hand {
  margin-bottom: -0.4rem;
  width: 100%;
}
