.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: -2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
}

.inputContainer > input,
.inputContainer > textarea {
  flex: 1;
  border: 2px solid var(--green);
  background-color: #000;
  width: 80vw;
  max-width: 25rem;
}

.formButtonContainer {
  text-align: end;
}

@media (min-width: 600px) {
  .inputContainer > input,
  .inputContainer > textarea {
    width: 50vw;
  }
}
